body{
	background-color: rgb(52, 148, 226);
}

.barra{
	background-color: #B4BEC9 !important;
}

.boton{
	border-radius: 20px;
	background-color: #002333;
	border-style: none;
}
.boton:hover{
    background-color: #159A9C;
}
.a_boton{
	color: whitesmoke;
	text-decoration: none;
}