


#img{
	height: 10;
	width: 10;
}

#mensajito{
	color: white;
	font-size: 17px;
	width: 40%;
	margin: 0px auto;
}
#img_footer2{
	height: 150px;
	width: 80%;
border-radius: 150px;
  transition: transform 0.5s;

}
#titulo{
	color: white;
}
#titulo2{
	color:white
}
#mensajito2{
	color: white;
}
#cont{
	background-color: #F9305D;
}
